--------------------------------------------------------------------------------
-- Copy this file to "%FarProfile%\scripts\Rh_Scripts\LuaPUM\config" directory.
-- Rename it to "TortoiseSVN.cfg" and change values of Data fields.
Data = {
  TortoiseSVN = {
    Path = "D:\\Tools\\tSVN\\bin\\", -- Путь к TortoiseSVN

    --RunNone = true, -- Невыполнение команды           -- (bool)
    --ShowCmd = true, -- Показ командной строки         -- (bool)

    --MenuView = "RectMenu",-- Вид используемого меню   -- ("far"|"RectMenu")
    --ShowPath  = false,    -- Путь элемента внизу меню -- (bool)
    --IconChars = false,    -- Показ символов-значков   -- (bool)
    --ItemWidth = 25,       -- Ширина пунктов меню      -- (number|false)

    -- Дополнительные параметры:

      -- Общие параметры:
    onClose = "/closeonend:0", -- "/closeonend:<0|1|2|3>" | "/closeforlocal"

      -- Параметры команд:
      -- <имя> = { <список строк с параметрами> }
    --log = { "/merge" },
  }, --
} --
--------------------------------------------------------------------------------
