do local t = {}; Data = t
  do local t = {}; Data["AutoComplete"] = t
    do local t = {}; Data["AutoComplete"]["Menu"] = t
      do local t = {}; Data["AutoComplete"]["Menu"]["CompleteKeys"] = t
        do local t = {}; Data["AutoComplete"]["Menu"]["CompleteKeys"][1] = t
          t["BreakKey"] = "Tab"
          t["Action"] = "Replace"
        end
        do local t = {}; Data["AutoComplete"]["Menu"]["CompleteKeys"][2] = t
          t["BreakKey"] = "NumEnter"
          t["Action"] = "Replace"
        end
        do local t = {}; Data["AutoComplete"]["Menu"]["CompleteKeys"][3] = t
          t["BreakKey"] = "ShiftTab"
          t["Action"] = "Insert"
        end
        do local t = {}; Data["AutoComplete"]["Menu"]["CompleteKeys"][4] = t
          t["BreakKey"] = "ShiftEnter"
          t["Action"] = "Insert"
        end
      end
      do local t = {}; Data["AutoComplete"]["Menu"]["LocalUseKeys"] = t
        do local t = {}; Data["AutoComplete"]["Menu"]["LocalUseKeys"][1] = t
          t["BreakKey"] = "CtrlEnter"
          t["Action"] = "Replace"
          t["Effect"] = "Shared"
        end
        do local t = {}; Data["AutoComplete"]["Menu"]["LocalUseKeys"][2] = t
          t["BreakKey"] = "CtrlShiftEnter"
          t["Action"] = "Insert"
          t["Effect"] = "Shared"
        end
      end
    end
  end
end
