--[[ TT: sql ]]--

----------------------------------------
--[[ description:
  -- Templates for 'sql'
     (Structured Query Language code).
  -- Шаблоны для 'sql'.
--]]
--------------------------------------------------------------------------------

---------------------------------------- Keywords Key
local KeywordsKey = {
  -- Key keywords:
  a = 'alter',
  b = 'begin',
  c = 'create',
  d = 'default',
  e = 'end',
  f = 'function',
  g = 'group by',
  h = '',
  i = 'insert',
  --j = 'join',
  k = 'local',
  l = 'boolean',
  m = 'from',
  n = 'number',
  o = 'order by',
  p = 'procedure',
  q = 'select',
  r = 'return',
  s = 'varchar2',
  t = 'table',
  u = 'update',
  v = 'value',
  w = 'where',
  x = 'exception',
  --y = 'connect',
  z = 'result',

  jn = 'join',
  ji = 'inner join',
  -- outer joins:
  jl = 'left join',
  jr = 'right join',
  
  yy = 'connect by',
  ys = 'start with',
  yn = 'nocycle',
  yp = 'connect by prior',

  -- Key variables:
  B = 'BEGIN',
  --C = '',
  --D = '',
  E = 'END',
  --J = '',
  R = 'select t.rowid, t.* from ',
  S = 'select * from ',
  --V = '',
  X = 'EXCEPTION',

} --- KeywordsKey

local function KeywordKey (Cfg)
  local s = Cfg.Template.Result
  local sn = s:match("`(%w-)$")

  s = KeywordsKey[sn]
  if s then return s end

  return false
end -- KeywordKey

---------------------------------------- Keywords Add
local KeywordsAdd = {
  -- Additonal keywords:
  --a = '',
  --b = '',
  c = 'case',
  --d = '',
  --e = '',
  f = 'false',
  --g = '',
  --h = '',
  --i = '',
  --j = '',
  --k = '',
  --l = '',
  m = 'message',
  --n = '',
  --o = '',
  --p = '',
  --q = '',
  --r = '',
  --s = '',
  t = 'true',
  --u = '',
  --v = '',
  w = 'with',
  --x = '',
  --y = '',
  --z = '',

  -- Additional (key)words:
  --F = 'for @Here do@Back',
  X = 'except',
  Y = 'finally',
  W = 'when',
  Z = 'then',
} --- KeywordsAdd

local function KeywordAdd (Cfg)
  local s = Cfg.Template.Result
  local sn = s:match("``(%w-)$")

  s = KeywordsAdd[sn]
  if s then return s end

  return false
end -- KeywordAdd

--------------------------------------------------------------------------------

---------------------------------------- Data
local Data = {
  --[[DO]]--

  inherit = false,

  regex  = "lua";

  --[[Templates]]-- Шаблоны:

  -- Keywords:
  { find = "`%w",   apply = KeywordKey, as = "plain" },
  { find = "`%w%w", apply = KeywordKey, as = "plain" },
  { find = "``%w",  apply = KeywordAdd, as = "plain" },
} --- Data

return Data
--------------------------------------------------------------------------------
